.header {
    background-color: #d8d7d4; /* Light background for dark theme */
    color: #121212; /* Dark text for dark theme */
}
.dark.header {
    background-color: black;
    color: white;
}
.lang {
    width: 50px;
    height: 35px;
  }
  .toggles {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
  }
